n8n-workflow.json
{
  "name": "ag-mcp-chat-backend",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-chat",
      "name": "Webhook - Chat",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "chat-endpoint"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "={{ $json.body.message }}"
            },
            {
              "name": "device_id",
              "value": "={{ $json.body.device_id }}"
            },
            {
              "name": "latitude",
              "value": "={{ $json.body.latitude || -1.2864 }}"
            },
            {
              "name": "longitude",
              "value": "={{ $json.body.longitude || 36.8172 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Request Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const lat = parseFloat($input.item.json.latitude) || -1.2864;\nconst lon = parseFloat($input.item.json.longitude) || 36.8172;\n\nlet region = 'global';\n\n// Ethiopia bounds\nif (lat >= 3.0 && lat <= 15.0 && lon >= 32.0 && lon <= 48.0) {\n  region = 'ethiopia';\n}\n// East Africa bounds\nelse if (lat >= -12.0 && lat <= 18.0 && lon >= 29.0 && lon <= 52.0) {\n  region = 'east-africa';\n}\n\nreturn {\n  json: {\n    ...$input.item.json,\n    region: region,\n    latitude: lat,\n    longitude: lon\n  }\n};"
      },
      "id": "detect-region",
      "name": "Detect Region",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.region }}",
              "operation": "equal",
              "value2": "ethiopia"
            },
            {
              "value1": "={{ $json.region }}",
              "operation": "equal",
              "value2": "east-africa"
            }
          ]
        },
        "options": {}
      },
      "id": "route-by-region",
      "name": "Route by Region",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mcp_servers",
              "value": "=[\n  {\n    \"name\": \"SSFR MCP\",\n    \"url\": \"https://ssfr-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_fertilizer_recommendation\", \"get_crop_advisory\"]\n  },\n  {\n    \"name\": \"ISDA Soil MCP\",\n    \"url\": \"https://isda-soil-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_isda_soil_properties\"]\n  },\n  {\n    \"name\": \"AgriVision MCP\",\n    \"url\": \"https://agrivision-mcp.up.railway.app/mcp\",\n    \"tools\": [\"diagnose_plant_health\"]\n  },\n  {\n    \"name\": \"AccuWeather MCP\",\n    \"url\": \"https://accuweather-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_accuweather_weather_forecast\"]\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ethiopia-servers",
      "name": "Set Ethiopia Servers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mcp_servers",
              "value": "=[\n  {\n    \"name\": \"GAP Weather MCP\",\n    \"url\": \"https://gap-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_gap_weather_forecast\"]\n  },\n  {\n    \"name\": \"ISDA Soil MCP\",\n    \"url\": \"https://isda-soil-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_isda_soil_properties\"]\n  },\n  {\n    \"name\": \"AgriVision MCP\",\n    \"url\": \"https://agrivision-mcp.up.railway.app/mcp\",\n    \"tools\": [\"diagnose_plant_health\"]\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "set-east-africa-servers",
      "name": "Set East Africa Servers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mcp_servers",
              "value": "=[\n  {\n    \"name\": \"AccuWeather MCP\",\n    \"url\": \"https://accuweather-mcp.up.railway.app/mcp\",\n    \"tools\": [\"get_accuweather_weather_forecast\"]\n  },\n  {\n    \"name\": \"AgriVision MCP\",\n    \"url\": \"https://agrivision-mcp.up.railway.app/mcp\",\n    \"tools\": [\"diagnose_plant_health\"]\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "set-global-servers",
      "name": "Set Global Servers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash-exp",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1000
        },
        "prompt": "=You are a helpful farming assistant for farmers in {{ $json.region }} region.\n\nUser message: {{ $json.message }}\n\nYou have access to these MCP tools:\n{{ JSON.stringify($json.mcp_servers) }}\n\nIf the user asks about weather, soil, crops, or plant health, use the appropriate MCP tools.\nKeep responses SHORT and farmer-friendly (2-4 sentences).\nRespond in the same language the user uses."
      },
      "id": "call-gemini",
      "name": "Call Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "googleGeminiApi": {
          "id": "gemini-api-key",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "response",
              "value": "={{ $json.text }}"
            },
            {
              "name": "region",
              "value": "={{ $('Detect Region').item.json.region }}"
            },
            {
              "name": "coordinates",
              "value": "={\n  \"latitude\": {{ $('Detect Region').item.json.latitude }},\n  \"longitude\": {{ $('Detect Region').item.json.longitude }}\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1650, 300]
    }
  ],
  "connections": {
    "Webhook - Chat": {
      "main": [[{"node": "Extract Request Data", "type": "main", "index": 0}]]
    },
    "Extract Request Data": {
      "main": [[{"node": "Detect Region", "type": "main", "index": 0}]]
    },
    "Detect Region": {
      "main": [[{"node": "Route by Region", "type": "main", "index": 0}]]
    },
    "Route by Region": {
      "main": [
        [{"node": "Set Ethiopia Servers", "type": "main", "index": 0}],
        [{"node": "Set East Africa Servers", "type": "main", "index": 0}],
        [{"node": "Set Global Servers", "type": "main", "index": 0}]
      ]
    },
    "Set Ethiopia Servers": {
      "main": [[{"node": "Call Gemini", "type": "main", "index": 0}]]
    },
    "Set East Africa Servers": {
      "main": [[{"node": "Call Gemini", "type": "main", "index": 0}]]
    },
    "Set Global Servers": {
      "main": [[{"node": "Call Gemini", "type": "main", "index": 0}]]
    },
    "Call Gemini": {
      "main": [[{"node": "Format Response", "type": "main", "index": 0}]]
    },
    "Format Response": {
      "main": [[{"node": "Webhook Response", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T00:00:00.000Z",
  "versionId": "1"
}

