n8n/workflows/chat-workflow.json
{
  "name": "AG-MCP Chat - Gemini Integration",
  "nodes": [
    {
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "chat-endpoint",
      "parameters": {
        "httpMethod": "POST",
        "path": "api/chat",
        "responseMode": "lastNode",
        "options": {}
      },
      "notes": "Receives chat requests from API Gateway. Expects: { message, language, history? }"
    },
    {
      "id": "prepare",
      "name": "Prepare Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const message = $json.body?.message || \"\";\nconst language = $json.body?.language || \"en\";\nconst history = $json.body?.history || [];\n\nconst languageMap = {\n  \"hi\": \"Hindi\", \"te\": \"Telugu\", \"kn\": \"Kannada\",\n  \"mr\": \"Marathi\", \"gu\": \"Gujarati\", \"ta\": \"Tamil\",\n  \"bn\": \"Bengali\", \"ml\": \"Malayalam\", \"pa\": \"Punjabi\",\n  \"or\": \"Odia\", \"sw\": \"Swahili\", \"am\": \"Amharic\",\n  \"vi\": \"Vietnamese\", \"th\": \"Thai\", \"id\": \"Indonesian\",\n  \"en\": \"English\", \"es\": \"Spanish\", \"fr\": \"French\",\n  \"de\": \"German\", \"pt\": \"Portuguese\", \"ar\": \"Arabic\"\n};\n\nconst langName = languageMap[language] || language;\n\nconst systemPrompt = `You are an expert agricultural advisor for smallholder farmers. IMPORTANT: You MUST respond in ${langName} language only.\n\nYour expertise includes:\n- Crop selection and rotation\n- Pest and disease management  \n- Weather-based farming advice\n- Soil health and fertilization\n- Irrigation and water management\n- Market timing and pricing\n\nProvide practical, actionable advice suitable for small-scale farmers. Keep responses concise but helpful. Always respond in ${langName}.`;\n\nconst contents = [\n  { role: \"user\", parts: [{ text: systemPrompt }] },\n  { role: \"model\", parts: [{ text: `I understand. I am your agricultural advisor and will respond in ${langName}.` }] }\n];\n\nfor (const msg of history.slice(-10)) {\n  contents.push({\n    role: msg.isBot ? \"model\" : \"user\",\n    parts: [{ text: msg.text }]\n  });\n}\n\ncontents.push({ role: \"user\", parts: [{ text: message }] });\n\nreturn {\n  json: {\n    message, language, langName,\n    requestBody: {\n      contents: contents,\n      generationConfig: {\n        temperature: 0.7,\n        maxOutputTokens: 1024\n      }\n    }\n  }\n};"
      },
      "notes": "Prepares system prompt with language enforcement and builds conversation history for Gemini API"
    },
    {
      "id": "gemini",
      "name": "Gemini Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "notes": "Calls Gemini 2.5 Flash API with conversation context. Uses GEMINI_API_KEY environment variable."
    },
    {
      "id": "response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const response = $json;\ntry {\n  const text = response.candidates?.[0]?.content?.parts?.[0]?.text || \"Sorry, I could not generate a response.\";\n  const language = $(\"Prepare Chat\").item.json.language;\n  return {\n    json: {\n      success: true,\n      response: text.trim(),\n      language: language\n    }\n  };\n} catch (e) {\n  return { json: { success: false, response: \"An error occurred.\", error: e.message } };\n}"
      },
      "notes": "Extracts response text from Gemini API response and formats for mobile app"
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [[{ "node": "Prepare Chat", "type": "main", "index": 0 }]]
    },
    "Prepare Chat": {
      "main": [[{ "node": "Gemini Chat API", "type": "main", "index": 0 }]]
    },
    "Gemini Chat API": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
