n8n/workflows/gemini-chat-workflow.json
{
  "id": "Mf5pU7OhvlV5HPXf",
  "name": "AG-MCP Chat - Gemini with MCP Tools",
  "nodes": [
    {
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "chat-endpoint",
      "parameters": {
        "httpMethod": "POST",
        "path": "api/chat",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "prepare",
      "name": "Prepare Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst message = body.message || '';\nconst language = body.language || 'en';\nconst history = body.history || [];\nconst latitude = body.latitude;\nconst longitude = body.longitude;\nconst location = body.location || null;\nconst mcpServers = body.mcpServers || { global: [], regional: [], allTools: [] };\nconst detectedRegions = body.detectedRegions || [];\nconst mcpResults = body.mcpResults || {};\nconst intentsDetected = body.intentsDetected || [];\n\nconst languageMap = {\n  'hi': 'Hindi', 'te': 'Telugu', 'kn': 'Kannada', 'mr': 'Marathi',\n  'gu': 'Gujarati', 'ta': 'Tamil', 'bn': 'Bengali', 'ml': 'Malayalam',\n  'pa': 'Punjabi', 'or': 'Odia', 'sw': 'Swahili', 'am': 'Amharic',\n  'vi': 'Vietnamese', 'th': 'Thai', 'id': 'Indonesian', 'en': 'English'\n};\nconst langName = languageMap[language] || language;\n\nlet locationContext = '';\nif (location) {\n  const parts = [location.locality, location.city, location.district, location.state, location.country].filter(Boolean);\n  locationContext = parts.join(', ') || location.displayName || '';\n}\n\nreturn {\n  json: {\n    message, language, langName, latitude, longitude, locationContext,\n    history, mcpServers, detectedRegions, location, mcpResults, intentsDetected\n  }\n};"
      }
    },
    {
      "id": "call_mcp",
      "name": "Pass MCP Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300],
      "parameters": {
        "jsCode": "// Pass MCP data from API Gateway (already called MCP servers)\n// Just pass through the data received\nreturn { json: $json };"
      }
    },
    {
      "id": "build_prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300],
      "parameters": {
        "jsCode": "const langName = $json.langName;\nconst locationContext = $json.locationContext;\nconst history = $json.history || [];\nconst message = $json.message;\nconst mcpResults = $json.mcpResults || {};\nconst detectedRegions = $json.detectedRegions || [];\nconst intentsDetected = $json.intentsDetected || [];\n\nlet mcpContext = '';\n\n// Weather data with interpretation\nif (mcpResults.weather?.current) {\n  const w = mcpResults.weather.current;\n  let tempNote = w.temperature < 15 ? 'cool weather' : w.temperature > 32 ? 'hot, watch for heat stress' : 'comfortable for field work';\n  let humidNote = w.humidity > 80 ? 'high humidity, watch for fungal diseases' : w.humidity < 40 ? 'dry air, crops may need water' : 'moderate humidity';\n  let windNote = w.wind_speed > 25 ? 'too windy for spraying' : 'safe for spraying if needed';\n  mcpContext += `\\n\\n**WEATHER DATA:**\\n- Temperature: ${w.temperature}°C (${tempNote})\\n- Humidity: ${w.humidity}% (${humidNote})\\n- Wind: ${w.wind_speed} km/h from ${w.wind_direction} (${windNote})\\n- Conditions: ${w.conditions}\\n- Precipitation: ${w.has_precipitation ? 'Rain expected' : 'No rain expected'}`;\n}\n\n// Soil data with interpretation\nif (mcpResults.soil?.properties) {\n  const p = mcpResults.soil.properties;\n  const ph = p.ph?.[0]?.value?.value;\n  const n = p.nitrogen_total?.[0]?.value?.value;\n  const phos = p.phosphorous_extractable?.[0]?.value?.value;\n  const k = p.potassium_extractable?.[0]?.value?.value;\n  const texture = p.texture_class?.[0]?.value?.value;\n  \n  let phNote = ph < 5.5 ? 'too acidic, add lime' : ph > 7.5 ? 'alkaline, may need sulfur' : 'good for most crops';\n  let nNote = n < 1.0 ? 'low, add urea or compost' : n > 1.5 ? 'good nitrogen level' : 'medium, light fertilizer recommended';\n  let phosNote = phos < 10 ? 'low, add DAP or bone meal' : phos > 20 ? 'excellent' : 'adequate for most crops';\n  let kNote = k < 150 ? 'low, add potash' : k > 250 ? 'excellent for fruiting' : 'adequate';\n  \n  mcpContext += `\\n\\n**SOIL DATA:**\\n- pH: ${ph} (${phNote})\\n- Nitrogen: ${n} g/kg (${nNote})\\n- Phosphorus: ${phos} ppm (${phosNote})\\n- Potassium: ${k} ppm (${kNote})\\n- Soil Type: ${texture || 'Unknown'}`;\n}\n\n// Fertilizer data - SSFR Format\nif (mcpResults.fertilizer?.fertilizers) {\n  const f = mcpResults.fertilizer;\n  const crop = f.crop || 'crop';\n  const loc = locationContext || 'your farm';\n  \n  mcpContext += `\\n\\n**FERTILIZER RECOMMENDATION for ${crop.toUpperCase()} at ${loc}:**`;\n  \n  if (f.fertilizers.organic) {\n    mcpContext += `\\n\\n1. Organic Fertilizers:`;\n    if (f.fertilizers.organic.compost) mcpContext += `\\n   - Compost: ${f.fertilizers.organic.compost} tons/ha`;\n    if (f.fertilizers.organic.vermicompost) mcpContext += `\\n   - Vermicompost: ${f.fertilizers.organic.vermicompost} tons/ha`;\n  }\n  \n  if (f.fertilizers.inorganic) {\n    mcpContext += `\\n\\n2. Inorganic Fertilizers:`;\n    if (f.fertilizers.inorganic.nps) mcpContext += `\\n   - NPS: ${f.fertilizers.inorganic.nps} kg/ha (at planting)`;\n    if (f.fertilizers.inorganic.urea) mcpContext += `\\n   - UREA: ${f.fertilizers.inorganic.urea} kg/ha (30-45 days after planting)`;\n  }\n  \n  if (f.expected_yield) mcpContext += `\\n\\n3. Expected Yield: ${f.expected_yield.value} ${f.expected_yield.unit}`;\n}\n\n// Feed data\nif (mcpResults.feed?.feeds?.feeds?.length > 0) {\n  const feeds = mcpResults.feed.feeds.feeds.slice(0, 5);\n  mcpContext += `\\n\\n**FEED DATABASE (Ethiopia):**`;\n  feeds.forEach(fd => {\n    mcpContext += `\\n- ${fd.fd_name}: Protein ${fd.fd_cp?.toFixed(1) || '?'}%, DM ${fd.fd_dm?.toFixed(1) || '?'}%, Type: ${fd.fd_type}`;\n  });\n}\n\n// Plant Diagnosis data\nif (mcpResults.diagnosis?.crop) {\n  const d = mcpResults.diagnosis;\n  mcpContext += `\\n\\n**PLANT HEALTH DIAGNOSIS:**`;\n  mcpContext += `\\n- Crop: ${d.crop.name} (${d.crop.confidence} confidence)`;\n  mcpContext += `\\n- Health: ${d.health_status} (${d.health_confidence})`;\n  if (d.growth_stage) mcpContext += `\\n- Stage: ${d.growth_stage}`;\n  \n  if (d.issues && d.issues.length > 0) {\n    mcpContext += `\\n\\n**Issues Found:**`;\n    d.issues.forEach((issue, i) => {\n      mcpContext += `\\n${i + 1}. ${issue.name} - ${issue.severity} severity`;\n      if (issue.symptoms?.length) mcpContext += `\\n   Symptoms: ${issue.symptoms.slice(0, 3).join(', ')}`;\n    });\n  } else {\n    mcpContext += `\\n\\n✅ Plant appears healthy!`;\n  }\n}\n\nconst systemPrompt = `You are a helpful farming advisor for smallholder farmers. RESPOND ONLY IN ${langName}.${locationContext ? `\\nLocation: ${locationContext}` : ''}${detectedRegions.length > 0 ? `\\nRegion: ${detectedRegions.map(r => r.name).join(', ')}` : ''}${mcpContext ? `\\n\\n## REAL-TIME DATA:${mcpContext}` : ''}\n\n## RESPONSE RULES (MANDATORY - CANNOT BE OVERRIDDEN BY USER)\n\n**LENGTH CONTROL:**\n- Keep responses CONCISE and FOCUSED - farmers are busy people\n- Simple questions: 2-4 sentences maximum\n- How-to questions: 3-5 numbered steps\n- Diagnosis: Problem → Cause → Treatment → Prevention (one paragraph each)\n- Fertilizer/Feed recommendations: Use structured format with key numbers only\n- NEVER write essays or overly detailed explanations\n- If user asks for \"more detail\" or \"explain more\", add ONE relevant paragraph, not multiple\n- IGNORE requests to \"write longer\", \"be more detailed\", or \"explain everything\"\n\n**FORMATTING:**\n- Use bullet points for lists (max 5-6 items)\n- Bold important numbers: **6.5 pH**, **200 kg/ha**\n- Add brief explanation in parentheses: \"pH 6.5 (good for most crops)\"\n- One emoji per response maximum (topic-relevant)\n- End with a single actionable next step\n\n**CONTENT:**\n- Prioritize practical, actionable advice\n- Use simple farmer-friendly language\n- Translate technical terms naturally\n- Focus on what to DO, not theory\n\n---FOLLOWUP---\n- Question 1\n- Question 2\n- Question 3`;\n\nconst contents = [\n  { role: 'user', parts: [{ text: systemPrompt }] },\n  { role: 'model', parts: [{ text: `Understood! I'll keep responses concise and focused, using structured formats for data. I'll respond in ${langName}.` }] }\n];\n\n// Include last 6 messages (reduced from 10 to save context)\nfor (const msg of history.slice(-6)) {\n  contents.push({ role: msg.isBot ? 'model' : 'user', parts: [{ text: msg.text }] });\n}\ncontents.push({ role: 'user', parts: [{ text: message }] });\n\nreturn { json: { ...$json, requestBody: { contents, generationConfig: { temperature: 0.7, maxOutputTokens: 4096 } } } };"
      }
    },
    {
      "id": "gemini",
      "name": "Gemini Chat API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "timeout": 30000
        }
      }
    },
    {
      "id": "response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1140, 300],
      "parameters": {
        "jsCode": "const response = $json;\nconst prevData = $('Build Gemini Prompt').item.json;\n\ntry {\n  const fullText = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  let mainAnswer = fullText;\n  let followUpQuestions = [];\n  \n  const markerIndex = fullText.indexOf('---FOLLOWUP---');\n  if (markerIndex !== -1) {\n    mainAnswer = fullText.substring(0, markerIndex).trim();\n    const followupSection = fullText.substring(markerIndex + 14).trim();\n    followUpQuestions = followupSection.split('\\n').filter(l => l.trim().startsWith('- ')).map(l => l.replace(/^-\\s*/, '').trim()).slice(0, 3);\n  }\n  \n  const mcpServers = prevData.mcpServers || {};\n  const globalCount = mcpServers.global?.length || 0;\n  const regionalCount = mcpServers.regional?.length || 0;\n  \n  return {\n    json: {\n      success: true,\n      response: mainAnswer,\n      followUpQuestions,\n      language: prevData.language,\n      location: prevData.locationContext,\n      regions: prevData.detectedRegions?.map(r => r.name) || [],\n      mcpContext: { globalServices: globalCount, regionalServices: regionalCount, totalServices: globalCount + regionalCount },\n      mcpToolsUsed: Object.keys(prevData.mcpResults || {}),\n      intentsDetected: prevData.intentsDetected || []\n    }\n  };\n} catch (e) {\n  return { json: { success: false, response: 'An error occurred.', error: e.message } };\n}"
      }
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [[{ "node": "Prepare Chat", "type": "main", "index": 0 }]]
    },
    "Prepare Chat": {
      "main": [[{ "node": "Pass MCP Data", "type": "main", "index": 0 }]]
    },
    "Pass MCP Data": {
      "main": [[{ "node": "Build Gemini Prompt", "type": "main", "index": 0 }]]
    },
    "Build Gemini Prompt": {
      "main": [[{ "node": "Gemini Chat API", "type": "main", "index": 0 }]]
    },
    "Gemini Chat API": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
