n8n/workflows/image-upload-workflow.json
{
  "id": "CSK8gnlRX8Ttesjk",
  "name": "AG-MCP Image Upload",
  "nodes": [
    {
      "id": "webhook",
      "name": "Image Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "api/upload-image",
        "responseMode": "lastNode",
        "options": {}
      },
      "notes": "Receives image upload. Expects: { image: base64, mimeType }"
    },
    {
      "id": "prepare",
      "name": "Prepare Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst imageBase64 = $json.body?.image || '';\nconst mimeType = $json.body?.mimeType || 'image/jpeg';\nconst timestamp = Math.floor(Date.now() / 1000);\nconst publicId = `plants/image_${timestamp}`;\nconst paramsToSign = `public_id=${publicId}&timestamp=${timestamp}`;\nconst signature = crypto.createHash('sha1').update(paramsToSign + $env.CLOUDINARY_API_SECRET).digest('hex');\n\nreturn {\n  json: {\n    timestamp, publicId, signature,\n    apiKey: $env.CLOUDINARY_API_KEY,\n    cloudName: $env.CLOUDINARY_CLOUD_NAME,\n    dataUri: `data:${mimeType};base64,${imageBase64}`\n  }\n};"
      },
      "notes": "Generates Cloudinary signature"
    },
    {
      "id": "upload",
      "name": "Upload to Cloudinary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudinary.com/v1_1/{{ $json.cloudName }}/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.dataUri }}"
            },
            {
              "name": "public_id",
              "value": "={{ $json.publicId }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "api_key",
              "value": "={{ $json.apiKey }}"
            },
            {
              "name": "signature",
              "value": "={{ $json.signature }}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Uploads image to Cloudinary"
    },
    {
      "id": "response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "parameters": {
        "jsCode": "const r = $json;\nreturn {\n  json: {\n    success: true,\n    imageUrl: r.secure_url,\n    publicId: r.public_id,\n    width: r.width,\n    height: r.height,\n    format: r.format,\n    bytes: r.bytes,\n    thumbnailUrl: r.secure_url.replace('/upload/', '/upload/w_200,h_200,c_fill/'),\n    mediumUrl: r.secure_url.replace('/upload/', '/upload/w_800,c_scale/')\n  }\n};"
      },
      "notes": "Returns Cloudinary URLs with transformations"
    }
  ],
  "connections": {
    "Image Webhook": {
      "main": [
        [
          {
            "node": "Prepare Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload to Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Cloudinary": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
