n8n/workflows/location-lookup-workflow.json
{
  "id": "NRRFikOyc5IUcjAX",
  "name": "AG-MCP Location Lookup",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "location-lookup-endpoint",
      "parameters": {
        "httpMethod": "POST",
        "path": "location-lookup",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "determine-source",
      "name": "Determine Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\nconst { latitude, longitude, ipAddress } = body;\nconst lat = parseFloat(latitude);\nconst lon = parseFloat(longitude);\nconst hasGPS = !isNaN(lat) && !isNaN(lon) && lat !== 0 && lon !== 0;\nconst hasIP = ipAddress && typeof ipAddress === 'string' && ipAddress.length > 0 && ipAddress !== '127.0.0.1' && !ipAddress.startsWith('192.168.') && !ipAddress.startsWith('10.') && !ipAddress.startsWith('172.') && !ipAddress.startsWith('::1');\nreturn [{ json: { latitude: hasGPS ? lat : null, longitude: hasGPS ? lon : null, ipAddress: hasIP ? ipAddress : null, useGPS: hasGPS, useIP: !hasGPS && hasIP, noSource: !hasGPS && !hasIP } }];"
      }
    },
    {
      "id": "has-gps",
      "name": "Has GPS?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.useGPS }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "nominatim-reverse",
      "name": "Nominatim Reverse Geocode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        200
      ],
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/reverse?format=json&lat={{ $json.latitude }}&lon={{ $json.longitude }}&addressdetails=1&zoom=18",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "AG-MCP-Chat-App/1.0"
            }
          ]
        }
      }
    },
    {
      "id": "parse-nominatim",
      "name": "Parse Nominatim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst address = data.address || {};\nconst coords = $('Determine Source').first().json;\nconst country = address.country || null;\nconst countryCode = (address.country_code || '').toUpperCase() || null;\nconst state = address.state || address.province || address.region || null;\nconst district = address.county || address.district || address.state_district || null;\nconst subDistrict = address.municipality || address.city_district || address.suburb || null;\nconst city = address.city || address.town || address.village || address.hamlet || null;\nconst locality = address.neighbourhood || address.quarter || address.residential || address.road || null;\nconst displayParts = [city || district || subDistrict, state, country].filter(Boolean);\nconst displayName = displayParts.length > 0 ? displayParts.join(', ') : data.display_name || 'Unknown Location';\nreturn [{ json: { success: true, source: 'gps', latitude: coords.latitude, longitude: coords.longitude, level1Country: country, level1CountryCode: countryCode, level2State: state, level3District: district, level4SubDistrict: subDistrict, level5City: city, level6Locality: locality, displayName: displayName, formattedAddress: data.display_name || null, resolvedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "has-ip",
      "name": "Has IP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        400
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.useIP }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "ip-api-lookup",
      "name": "IP API Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        350
      ],
      "parameters": {
        "url": "=http://ip-api.com/json/{{ $json.ipAddress }}?fields=status,message,country,countryCode,region,regionName,city,district,zip,lat,lon,timezone,isp",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "parse-ip-api",
      "name": "Parse IP API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        350
      ],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nif (data.status !== 'success') { return [{ json: { success: false, source: 'ip', error: data.message || 'IP lookup failed' } }]; }\nconst displayParts = [data.city, data.regionName, data.country].filter(Boolean);\nconst displayName = displayParts.length > 0 ? displayParts.join(', ') : 'Unknown Location';\nreturn [{ json: { success: true, source: 'ip', latitude: data.lat, longitude: data.lon, level1Country: data.country || null, level1CountryCode: data.countryCode || null, level2State: data.regionName || null, level3District: data.district || null, level5City: data.city || null, timezone: data.timezone || null, isp: data.isp || null, displayName: displayName, formattedAddress: displayParts.join(', ') || null, resolvedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "no-source",
      "name": "No Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        500
      ],
      "parameters": {
        "jsCode": "return [{ json: { success: false, source: 'none', error: 'No GPS coordinates or valid IP address provided', resolvedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "respond-gps",
      "name": "Respond GPS",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "respond-ip",
      "name": "Respond IP",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1580,
        350
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        500
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Determine Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Source": {
      "main": [
        [
          {
            "node": "Has GPS?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has GPS?": {
      "main": [
        [
          {
            "node": "Nominatim Reverse Geocode",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has IP?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nominatim Reverse Geocode": {
      "main": [
        [
          {
            "node": "Parse Nominatim",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Nominatim": {
      "main": [
        [
          {
            "node": "Respond GPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has IP?": {
      "main": [
        [
          {
            "node": "IP API Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP API Lookup": {
      "main": [
        [
          {
            "node": "Parse IP API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse IP API": {
      "main": [
        [
          {
            "node": "Respond IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Source": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
