n8n/workflows/title-generator-workflow.json
{
  "id": "XjyxQPQBMrUT8SeJ",
  "name": "AG-MCP Title Generator",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "title-generator-endpoint",
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-title",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "// =======================================================\n// PREPARE PROMPT - Build title generation request\n// =======================================================\n\nconst input = $input.first().json;\nconst body = input.body || input;\nconst messages = body.messages || [];\nconst language = body.language || 'en';\n\n// Build conversation summary from messages\nconst contextMessages = messages.slice(0, 10);\nconst conversationSummary = contextMessages\n  .map(m => `${m.role || (m.isBot ? 'assistant' : 'user')}: ${(m.content || m.text || '').slice(0, 200)}`)\n  .join('\\n');\n\nconst languageInstruction = language && language !== 'en' \n  ? `Write the title in ${language} language` \n  : 'Write in English';\n\nconst prompt = `Generate a short, descriptive title (maximum 50 characters) for this farming assistant conversation.\n\nConversation:\n${conversationSummary}\n\nRules:\n- Maximum 50 characters\n- Be specific about the farming topic discussed\n- ${languageInstruction}\n- No quotes or special characters\n- Don't start with \"Farming\" or \"Agriculture\"\n\nReturn ONLY the title, nothing else.`;\n\nreturn [{ json: { \n  prompt, \n  messages: contextMessages, \n  language, \n  hasSufficientContent: contextMessages.length >= 1 && conversationSummary.length > 10 \n} }];"
      }
    },
    {
      "id": "has-content",
      "name": "Has Content?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.hasSufficientContent }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "gemini-api",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        200
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"contents\":[{\"parts\":[{\"text\":{{ JSON.stringify($json.prompt) }}}]}],\"generationConfig\":{\"temperature\":0.3,\"maxOutputTokens\":1024}}",
        "options": {}
      }
    },
    {
      "id": "extract-title",
      "name": "Extract Title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "parameters": {
        "jsCode": "const geminiResponse = $input.first().json;\nlet title = geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text?.trim() || '';\ntitle = title.replace(/^[\"']|[\"']$/g, '').replace(/\\n/g, ' ').trim();\nif (title.length > 50) { title = title.slice(0, 47) + '...'; }\nif (!title) { title = 'New Conversation'; }\nreturn [{ json: { success: true, title, generatedAt: new Date().toISOString() } }];"
      }
    },
    {
      "id": "fallback-title",
      "name": "Fallback Title",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        400
      ],
      "parameters": {
        "jsCode": "return [{ json: { success: true, title: 'New Conversation', generatedAt: new Date().toISOString(), fallback: true } }];"
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1360,
        200
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    },
    {
      "id": "respond-fallback",
      "name": "Respond Fallback",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1140,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "Has Content?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Content?": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Extract Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Title": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Title": {
      "main": [
        [
          {
            "node": "Respond Fallback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  }
}
